# .NET Core
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.vs/
*.user
*.suo
*.log

# NuGet Packages
*.nupkg
*.snupkg
.nuget/
packages/

# User-specific files
*.user
*.userosscache
*.suo
*.ntvs_analysis.dat
*.DS_Store

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# ASP.NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/

# Local Development
.env
